@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fqzrna');
  src:  url('fonts/icomoon.eot?fqzrna#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fqzrna') format('truetype'),
    url('fonts/icomoon.woff?fqzrna') format('woff'),
    url('fonts/icomoon.svg?fqzrna#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-man-woman:before {
  content: "\e9de";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
