.properties__radius {
  font-size: 20px;
}

.properties__radius--success {
  color: green;
}

.properties__radius--alert {
  color: darkred;
}

.properties__holder {
  position: relative;
  margin: 15px;
}

.properties__layout {
  display: flex;
}

.properties__layout-col--main {
  flex: 70%;
}

.properties__layout-col--map {
  flex: 30%;
}
